head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  noscript
    link(rel='stylesheet', href='/css/fallback.css')
  link(rel='stylesheet', href='/css/style.css')
  style(type='text/css')

  script(type='text/javascript', src='/js/modernizr.custom.26633.js')
  body { padding-top: 60px; padding-bottom: 40px; }
    //.sidebar-nav { padding: 9px 0; }
